@import '@/styles/_mixins.scss';

.books_catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  padding-bottom: 74px;

  @include mobileSmall {
    gap: 50px;
  }

  > div {
    display: flex;
    width: 924px;
    flex-wrap: wrap;
    gap: 96px 76px;

    @include tabletLarge {
      max-width: 800px;
      justify-content: center;
    }

    @include tabletSmall {
      width: 100%;
    }

    @include mobileMedium {
      gap: 70px 50px;
    }
  }

  > .btn_load {
    justify-content: center;
  }
}
