@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.user_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;

  > .auth {
    position: relative;
    line-height: 0;

    > button {
      @include button;

      &:hover {
        @include actionBtnHover;
      }

      > img {
        width: 14px;
        height: 17px;
      }
    }
  }

  > button {
    @include button;
    position: relative;

    &:hover {
      @include actionBtnHover;
    }

    > .counter {
      position: absolute;
      bottom: -5px;
      right: -4px;
      z-index: 1;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $validate;
      font-weight: 500;
      color: $white-color;
    }
  }
}
